@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 200;
  src: url(./font/NanumBarunGothicUltraLight.eot);
  src: url(./font/NanumBarunGothicUltraLight.eot?#iefix) format('embedded-opentype'), url(./font/NanumBarunGothicUltraLight.woff) format('woff'), url(./font/NanumBarunGothicUltraLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 300;
  src: url(./font/NanumBarunGothicLight.eot);
  src: url(./font/NanumBarunGothicLight.eot?#iefix) format('embedded-opentype'), url(./font/NanumBarunGothicLight.woff) format('woff'), url(./font/NanumBarunGothicLight.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 400;
  src: url(./font/NanumBarunGothic.eot);
  src: url(./font/NanumBarunGothic.eot?#iefix) format('embedded-opentype'), url(./font/NanumBarunGothic.woff) format('woff'), url(./font/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: 700;
  src: url(./font/NanumBarunGothicBold.eot);
  src: url(./font/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'), url(./font/NanumBarunGothicBold.woff) format('woff'), url(./font/NanumBarunGothicBold.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i');
/*@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, textarea, p, blockquote, th, td, input, select, textarea, button {
  margin: 0;
  padding: 0;
font-family: 'Nanum Barun Gothic', Helvetica, sans-serif;
}

.nav-toggle {
  position: absolute;
  top: 23px;
  right: 10px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  border-color:white;
  background: #999;
  cursor: pointer;
}

.nav-toggle span:before {
  top: -7px;
}

.nav-toggle span:after {
  bottom: -7px;
}

.nav-toggle span,
.nav-toggle span:before,
.nav-toggle span:after {
  transition: all 300ms ease-in-out;
}

.nav-toggle.active span {
  background-color: transparent
}

.nav-toggle.active span:before,
.nav-toggle.active span:after {
  top: 0;
}

.nav-toggle.active span:before {
  transform: rotate(45deg);
}

.nav-toggle.active span:after {
  top: 10px;
  transform: translatey(-10px)   rotate(-45deg);
}