---
layout: default
---

<h2 class="titlehead">블로그</h2>

<ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h3><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
        <!-- <div class="detailMeta">
          <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
          <p class="description">{{ post.description }}</p>
        </div> -->
      </li>
    {% endfor %}
</ul>

<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn">Previous</a>
  {% else %}
    <span class="btn none">Previous</span>
  {% endif %}
  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn">Next</a>
  {% else %}
    <span class="btn none">Next</span>
  {% endif %}
</div>