.site-header {
  position:fixed;
  left:0px;
  top:0px;
  width:100%;
  z-index: 50;
  padding:10px 0;
  background: #fff;
  overflow: hidden;
  // border-bottom: 1px solid #aaa;
  box-shadow: 0px 0px 10px #ccc;
  @media #{$over800} {
    height:56px;
    overflow: visible;
    background: none;
    box-shadow: 0px 0px 0px #ccc;
  }
  h1 {
    font-size: 20px;
    display: inline-block;
    position: relative;
    left: 15px;
    @media #{$over800} {
      position: fixed;
      bottom: 15px;
    }
    a {      
      width: 14px;
      display: inline-block;
      @media #{$over800} {
        width: 150px;
      }
      img {
        width: 100%;
        &.m {
          display: block;
        }
        &.dt {
          display: none;
        }
        @media #{$over800} {
          &.m {
            display: none;
          }
          &.dt {
            display: block;
          }
        }
      }
    }
  }
  .nav-toggle {
    @media #{$over800} {
      display: none;
    }
  }
  .site-nav {
    display: none;
    @media #{$over800} {
      display: block;
      float: right;
      margin-right: 50px;
    }
    a {
      position: relative;
      top: 16px;
      color: $grey-color-middle;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 1px;
      display: block;
      margin-bottom: 30px;
      text-align: right;
      width: 92%;
      @media #{$over800} {
        margin-left: 20px;
        text-align: left;
        font-size: 15px;
        font-weight: 800;
        margin-bottom: 0px;
        display: inline;
        &:hover {
        top: 18px;
        }  
      }
    }
  }
}

.site-footer {
  color: #aaa;
  text-align: center;
  width:100%;
  font-size: 11px;
  padding-bottom: 20px;
}

.page-content {
  margin-top: 78px;
  padding-top: 30px;
  position: relative;
  min-height: 480px;
  @media #{$over800} {
    min-height: 800px;
  }
  .titlehead {
    @extend %title;
  }
  .post-list {
    margin: 50px 0;  
    overflow: hidden;
    @media #{$over800} {
      margin: 150px 0 70px;  
    }
    li {
      list-style-type: none;
      border-bottom: 2px dashed #ececec;
      padding-bottom: 5px;
      margin-bottom: 5px; 
      @media #{$over800} {
        padding-bottom: 10px;
        margin-bottom: 20px;  
      }
      h3 {
        font-weight: 700;
        margin-bottom: 10px;
        a {
          position: relative;
          display: block;
          background: -webkit-linear-gradient(45deg, #00DF6D 0%, #0084ff 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          left: 0px;
          font-size: 24px;
          @media #{$over800} {
            transition: all 0.5s ease 0s;
            font-size: 70px;
            background: -webkit-linear-gradient(45deg, #ff8062 0%, #ffd200 20%, #00DF6D 50%, #0084ff 100%);  
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            &:hover {
              left: 20px;
              &:after {
                width: 80%;
              }
            }
            &:after {
              opacity: 0.3;
              content: "";
              display: block;
              position: absolute;
              height: 3px;
              width: 0px;
              bottom: -10px;
              background: -webkit-linear-gradient(45deg, #ff8062 0%, #ffd200 20%, #00DF6D 50%, #0084ff 100%);
              transition: all 0.5s ease 0s;
            }
          }
        }
      }
      &:hover {
      .detailMeta {
        display: block;
        }  
      }
    }
    .detailMeta {
      text-align: right;
      display: none;
      .post-meta {
        font-size: $small-font-size;
        color: $text-color;
        margin-bottom: 0px; 
      }
      .description {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}

.pagination {
  text-align: center;
  .btn {
    font-weight: 500;
    margin: 0 10px;
    font-size: 12px;
    @media #{$over800} {
      font-size: 15px;
    }
  }
  em, a {
    font-style: normal;
    font-weight: 600;
  }
  em {
    color: $theme-color;
  }
}


.post-header {
  margin-bottom: $vertical-spacing-unit;
  .post-title {
    @extend %title;
  }
  .post-meta {
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 1;
    margin-bottom: 10px;
    display: inline-block;
    background: -webkit-linear-gradient(450deg, #00DF6D 0%, #3ba0ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @media #{$over800} {
      font-size: 22px;
    }
   }
}
.post-content {
  font-weight: 400;
  padding-bottom: 100px;
  h1 {
    font-size: 26px;
    font-weight: 500;
    color: $grey-color-dark;
    margin-bottom: 15px;
    @media #{$over800} {
      font-size: 30px;
      margin-bottom: 25px;
    }
  }
  h2 {
    font-size: 22px;
    font-weight: 500;
    color: $grey-color-dark;
    margin-bottom: 12px;
    @media #{$over800} {
      font-size: 28px;
      margin-bottom: 20px;
    }
  }
  h3 {
    font-size: 16px;
    font-weight: 500;
    color: $grey-color-dark;
    margin-bottom: 10px;
    @media #{$over800} {
      font-size: 22px;
      margin-bottom: 15px;
    }
  }
  h4 {
    font-size: 15px;
    font-weight: 500;
    color: $grey-color-dark;
    margin-bottom: 7px;
    @media #{$over800} {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
  p {
    font-size: 12px;
    color: $text-color;
    margin-bottom: 7px;
    letter-spacing: 0.5px;
    font-weight: 300;
    line-height: 22px;
    @media #{$over800} {
      font-size: 16px;
      margin-bottom: 15px;
      line-height: 28px;
    }
  }
  img {
    width: 100%;
    height: auto;
  }
  .strong {
    color: $theme-color;
    font-weight: 700;
  }
  .about {
    text-align: center;
    h1 {
      border-top: 5px solid #0084ff;
      text-align: left;
      margin-left: 10px;
      padding: 10px;
      font-size: 25px;
      display: inline-block;
    }
    ul {
      margin-bottom: 100px;
    }
    li { 
      list-style-type: none;
      margin-bottom: 10px;
      color: $grey-color-middle;
      a {
        font-size: 12px;
        display: inline-block;
        margin-left: 15px;
        @media #{$over800} {
          font-size: 14px;
        }
      }
    }
    .mgl_20 {
      margin-left: 40px;
      color: $grey-color-light;
      font-size: 11px;
      @media #{$over800} {
        font-size: 14px;
      }
    }
  }
  li {
    font-size: 12px;
    list-style-type: none;
    margin-bottom: 20px;
    @media #{$over800} {
      font-size: 15px;
    }
  }
  .block {
    width: 100%;
    overflow: hidden;
    margin-bottom: 40px;
    .left_align_img {
      float: left;
      width: 40%;
    }
    .right_align_text {
      float: right;
      width: 50%;
      margin-left: 10%;
    }
  }
  .small {
    font-size: 12px;
  }
}
