.site-header {
  position:fixed;
  left:0px;
  top:0px;
  height:56px;
  width:100%;
  z-index: 50;
  padding:10px 0;
  h1 {
    font-size: 20px;
    display: inline-block;
    position: fixed;
    bottom: 15px;
    left: 15px;
    a {      
      width: 180px;
      display: inline-block;
      img {
        width: 100%;
      }
    }
  }  
  .site-nav {
    float: right;
    margin-right: 50px;
    a {
      position: relative;
      top: 16px;
      color: $text-color;
      font-size: 15px;
      margin-left: 20px;
      font-weight: 800;
      letter-spacing: 1px;
      &:hover {
        color:$theme-color;
        top: 18px;
      }
    }
  }
}

.site-footer {
  color: #aaa;
  text-align: center;
  width:100%;
  font-size: 11px;
}

.page-content {
  margin-top: 56px;
  padding-top: 30px;
  min-height: 800px;
  .titlehead {
    text-align: center;
    font-weight: 200;
  }
  .post-list {
    margin: 150px 0 70px;
    li {
      list-style-type: none;
      padding-bottom: 60px;
      h3 {
        font-weight: 700;
        margin-bottom: 30px;
        a {
          position: relative;
          font-size: 70px;
          display: block;
          transition: all 0.5s ease 0s;
          left: 0px;
          &:hover {
            left: 20px;
          }
        }
      }
      &:hover {
      .detailMeta {
        display: block;
        }  
      }
    }
    .detailMeta {
      text-align: right;
      display: none;
      .post-meta {
        font-size: $small-font-size;
        color: $text-color;
        margin-bottom: 0px; 
      }
      .description {
        font-size: 17px;
        font-weight: 500;
      }
    }
  }
}

.pagination {
  text-align: center;
  .btn {
    font-weight: 500;
    margin: 0 10px;
  }
  em, a {
    font-style: normal;
    font-weight: 600;
  }
  em {
    color: $theme-color;
  }
}


.post-header {
  margin-bottom: $vertical-spacing-unit;
  .post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 10px;
    @media #{$over800} {
      font-size: 36px;
    }
   }
}
.post-content {
  font-weight: 400;
  h2 {
    font-size: 42px;
    @media #{$over800} {
      font-size: 28px;
    }
  }
  h3 {
    font-size: 30px;
    @media #{$over800} {
      font-size: 22px;
    }
  }
  h4 {
    font-size: 20px;
    @media #{$over800} {
      font-size: 18px;
    }
  }
  p {
    font-size: 16px;
    color: $text-color;
    margin-bottom: 20px;
  }
}
