<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="allWrap" id="allwrap">
    {% include header.html %}
    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    </div>
  </body>
  <script>
    $('#allwrap').css('min-height', window.innerHeight);
    var bgArray = [
      '#1e225e',
      '#612a3c',
      '#194519',
      '#45207d',
    ];
    function bgAnimate() {
      TweenMax.to($('#allwrap'), 15, {
        backgroundColor: bgArray[Math.floor((Math.random() * 3))],
        delay: 1,
        repeat: -1,
        yoyo: true,
      });
    }
    function onoff() {
      if (sessionStorage.mode === 'on' || sessionStorage.mode === undefined) {
        $('.mode').html('꺼짐');
        $('a').css('color','#fff');
        $('#allwrap').css('color','#fff');
        $('#allwrap').css('backgroundColor','#1e225e');
        $('#allwrap').addClass('default');
        bgAnimate();
      } else {
        $('#allwrap').addClass('care');
        $('.mode').html('켜짐');
        TweenMax.killTweensOf($('#allwrap'));
        $('#allwrap').css('backgroundColor','#292929');
        $('a').css('color','#fff');
        $('#allwrap').css('color','#ebebeb');

      }
    }
    onoff();
    $('.me').click(function(){
      if(!sessionStorage.getItem("mode")) {
        sessionStorage.setItem('mode', 'on');
      }
      if(sessionStorage.getItem("mode") === 'on') {
        sessionStorage.setItem('mode', 'off');
        onoff();
      } else {
        sessionStorage.setItem('mode', 'on');
        onoff();
      }
    });

  </script>
</html>